@(id:Array[Int],fn:Array[String],ln:Array[String],indexnum:Array[String],regnum:Array[String])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Details</title>
</head>
<body>
<table border="2" align="center">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Index Number</th>
        <th>Registeration Number</th>
    </tr>
    @for(j<-0 to 3){
    <tr>
        <td>@id(j)</td>
        <td>@fn(j)</td>
        <td>@ln(j)</td>
        <td>@indexnum(j)</td>
        <td>@regnum(j)</td>
    </tr>
    }
</table>
</body>
</html>